.clubCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background-color: #005f92;
  background-size: cover;
  border: 10px solid #1b1135;
  border-radius: 15px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 10px;
  margin: 10px;
  max-height: 600px;
}

.clubCard:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.clubCardInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: white;
  margin-top: auto;
}

.clubCardImageBox {
  display: flex;
  justify-content: center;
  height: 100px;
  margin-bottom: 10px;
}

.clubImage {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100%;
  max-width: 100%;
}
